.name {
    font-size: 56px;
    display: flex;
    justify-content: center;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    padding-bottom: 1em;
}

.sysContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameMsg {
    font-size: medium;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}